@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');




*, 
::before, 
::after
{
  margin :0;
  padding :0;
  box-sizing :border-box ;
  font-family: 'Varela Round', sans-serif;
}

body {
     font-size: 15pt;
     padding :5px ;
     height :100vh;
     width :100%;
     transition :all .2s ease-in-out ;
     background :#FFFFFF ;
}

header 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(183,185,190,.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

header .logo 
{
    width: 270px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .logo .img 
{
    width: 75px;
    height:75px;
}
header .logo .img  img
{
    width:100%;
    height:100%;
    object-fit: cover;
}
header .logo h1 
{
    font-size :1.6em ;
    color: #EBC84D;
    letter-spacing: 3px ;
    font-family: 'Secular One', sans-serif;

}

header nav 
{
    padding: 10px;
}

header nav ul 
{  
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav ul li 
{
    list-style-type: none;
    padding: 5px;
    width: 200px;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
}

header nav ul li button 
{
    outline: none;
  display: inline-block;
    width: 100%;
    color: #252525;
   cursor: pointer;
   border: none;
   margin:0; 
   background-color: none;
}

header nav ul li .renting-btn
{
background-color: #C2912E;
color: #FFFFFF;
border-radius: 10px;
text-transform: capitalize;
font-size:.7em;
padding: 15px;
box-shadow: 0 0 10px rgba(183,185,190,.3);
}

header nav ul li .renting-span
{
 color: #FFFFFF;
border-radius: 10px;
text-transform: capitalize;
font-size:1em;
padding: 15px;
}

@media screen and (max-width:444px) {
    header nav ul li .renting-btn
    {
      transform: translateX(100px); 
      color: transparent;
    }

    header nav ul li .renting-span
    {
    color: #FFFFFF;
    left: 110px;
    z-index: 5;
    font-size: 1.3em;
    }

  }



header nav ul li .account-circle 
{
    width: 45px;
    height:45px;
    font-size: 2em;
    display: flex;
   justify-content: center;
   align-items: center;
   background-color: none;
}

@media screen and (max-width:570px) {
    header nav ul li .account-circle 
    {
      display: none;
    }


  }



header nav ul li span
{
   position: absolute;
   left: 5px;
   color: #252525;
  
}


.banner 
{
    width:90%;
    height:auto;
    background-color: rgba(236, 212, 127,.5);
    margin: 15% auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 100px; */
    transition: box-shadow  .2s ease-in-out;
    border-radius: 20px;
    padding: 40px;
}


.banner:hover
{
 box-shadow: 0 0 7px rgba(183,185,190,.2);
 transition: box-shadow  .2s ease-in-out;
}


 

.banner .event-details
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: centrer;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    text-align: center;
}

.banner .event-details h3
{
  font-size:1.5em;
  padding: 5px;
}
.banner .event-details p
{
  font-size:1em;
  padding: 10px;
}



.banner  .banner-img 
{
    width: 380px;
    height:330px;
    margin-left: auto;
}

.banner .banner-img img 
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



@media screen and (max-width: 950px) {
    .banner 
    {
      
        display: flex;
        justify-content: center;
        align-items: center;
       flex-direction: column;
        /* gap: 100px; */
    }

   .banner .event-details
   {
     width: 100%;
   }

   .banner  .banner-img 
   {
    width: 50%;
    right: 50%;
    margin: 0;
   }
  }


  @media screen and (max-width: 500px) {
    .banner 
    {
     margin: 25% auto 0;
    }

   .banner .event-details p
   {
    font-size: .8em;
     padding: 5px;
   }

   .banner  .banner-img 
   {
     width:80%;
     margin: 0;
   }
  }









.most-liked-post 
{
    margin: 10% auto 0;
    min-width:100%;
    max-width: 80%;
    text-align: left;
}

.most-liked-post h2 
{
    padding: 15px;
    letter-spacing: 4px;
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
}

.most-liked-wrapper
{
    display: flex;
    /* justify-content: center;
    align-items: center; */
  
    overflow: scroll;
    overflow-y: hidden;
    scroll-snap-type:x mandatory; 
    width: 100%;
    gap: 30px;
    margin: 1px auto 0;
    scroll-padding: 10px;
}



.most-liked-wrapper::-webkit-scrollbar {
    width: 10px;
   }
 
.most-liked-wrapper::-webkit-scrollbar-track {
    background-color: rgba(183,185,190,.2);
   }
 
.most-liked-wrapper::-webkit-scrollbar-thumb {
     background-color: rgba(183,185,190,.4);
   }
 
 

.most-liked-wrapper  .most-like-card
{
    flex-shrink: 0;
    text-align: center;
    scroll-snap-align: start;
    min-width: 370px;
    max-width: 370px;
    height:490px;
    position: relative;
    margin:20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(183,185,190,.1);
    opacity: 0;
    transition:  opacity 1s ease-in-out;
}

.most-like-card.visible 
{
    opacity: 1;
    transition:  opacity 1s ease-in-out;
}
.most-like-card img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.most-like-card h4 
{
    position: absolute;
    top:5%;
    padding: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:.7em;
    background-color: rgba(3,3,3,.9);
    padding: 5px;
    border-radius: 5px;
    color: #f4f6fc;
}

.most-like-card .show-nbLikes 
{
    position: absolute;
    bottom:3%;
    left: 50%;
    width: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(194, 145, 46,1);
    color: #FFFFFF;
    padding: 10px;
    font-weight: 800;
    border-radius: 9999px;
}


.participants-container
{
    margin: 10% auto 0;
    width: 95%;
    text-align: left;
    padding: 10px;
}

.participants-container h2 
{
    padding: 15px;
    letter-spacing: 4px;
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
}

.participants-container .search-bar
{
    width: min(50%,50%);
    text-align: center;
    margin: 10px auto 0;
}

.search-bar input 
{
    outline: none;
    border: 1px solid  rgba(183,185,190,.1);

    width: 100%;
    height:50px;
    border-radius: 10px;
    background-color: rgba(183,185,190,.2);
    font-size:.7em;
    text-align: center;
    box-shadow: 0 0 7px rgba(183,185,190,.3);
}

.participants-container  .participants_wrapper 
{
    width: 100%;
    height: auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 10px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 1rem;
    margin: 10px auto 0;
}


.participants_wrapper .post_card
{
    /* width: 370px; */
    /* height: 770px; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    position: relative;
    /* margin: 10px auto 0; */
}

.participants_wrapper .post_card h3
{
    color:#252525;
    padding: 0 10px  0;
    font-size:.8em;
    text-decoration: underline;
    text-transform: capitalize;
    display: block;
    max-width:150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.post_card .post_image 
{
    width: 100%;
    height: 430px;
    padding: 10px;
}

.post_card .post_image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post_card .action_btns 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.post_card  .action_btns .like_section 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}

.post_card  .action_btns .like_section button 
{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
}

.action_btns .like_section .likeBtn.active
{
    color: #EBC84D;
}

.action_btns .like_section .likeBtn.active
{
 
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}





.post_card  .action_btns  button
{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.post_card .show_comments_section 
{
    width: 100%;
    max-height: 275px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px;
}

.show_comments_section::-webkit-scrollbar {
   width: 10px;
  }

  .show_comments_section::-webkit-scrollbar-track {
   background-color: rgba(183,185,190,.2);
  }

  .show_comments_section::-webkit-scrollbar-thumb {
    background-color: rgba(183,185,190,.4);
  }

.post_card .show_comments_section .comment 
{
    width: 100%;
    margin: 10px;
    background-color: rgba(183,185,190,.1);
}

.show_comments_section .comment h5
{
    padding: 5px;
    font-size: .7em;
    font-weight:700;
    display: block;
    max-width:100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.show_comments_section .comment p
{
    padding: 5px;
    font-size: .7em;
}

.show_comments_section .comment span
{
    padding: 5px;
    font-size: .5em;
    display: block;
    float: right;
    text-transform: capitalize;
}

.post_card .post-comment-section 
{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_card  .post-comment-section input 
{
    outline: none;
    flex-grow: 1;
    height: 35px;
    border: none;
    padding: 5px;
}

.post_card  .post-comment-section button
{
    outline: none;
    border: none;
    padding: 5px;
    display: block;
    background-color: transparent;
    font-weight:500;
    cursor: pointer;
}

.form_wrapper 
{
  position :fixed ;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  width: 300px;
  z-index :40;
  height :auto;
  background :#FFFFFF ;
  text-align :center ;
  border-radius :10px ;
  transition :height .2s ease-in-out ;
  box-shadow :0 0 7px rgba(183,185,190);
}

.form_wrapper .logo 
{
    width: 70px;
    height: 70px;
    margin: 5px auto 0;
}

.form_wrapper .logo img 
{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    object-fit: cover;
}

.form_wrapper .switch_btns 
{
  width :100%;
  height :45px;
  display :flex ;
  justify-content :center ;
  align-items :center ;
}

.form_wrapper .switch_btns button 
{
  outline :none ;
  border :none ;
  background :none ;
  margin :0 15px 0;
  font-size :.8em ;
  font-weight :300; 
  width: 100%;
  transition :border-bottom .2s ease-in-out ;
  cursor: pointer;
}

.form_wrapper .switch_btns button.active
{
  border-bottom :2px solid #252525 ;
  padding :3px;
  transition :border-bottom .2s ease-in-out ;
}


.form_wrapper #signin 
{
  width :100%;
  text-align :left ;
  padding :5px ;
}

.form_wrapper  #signin.remove 
{
  display :none ;
}


.form_wrapper  #signin label 
{
  width :100%;
  padding :10px ;
}

.form_wrapper  #signin label p 
{
  text-transform: capitalize ;
  padding :5px ;
  font-size :.7em ;
}

.form_wrapper  #signin label input 
{
  display: inline-block ;
  width :100%;
  padding :10px ;
  border-radius :5px ;
  border :1px solid rgba(183,185,190);
}

.form_wrapper #signin button 
{
  display: block ;
  outline :none ;
  border :1px solid rgba(183,185,190);
  padding :15px 20px;
  margin : 10px auto 0 ;
  font-size :.7em ;
  border-radius :5px ;
  box-shadow :0 0 7px rgba(183,185,190,.2);
  background-color:#252525;
  color: #FFFFFF; 
  width: 100%;
}





.form_wrapper #signup
{
  width :100%;
  text-align :left ;
  padding :5px ;
  display :none ;
}

.form_wrapper  #signup.active 
{
  display :block ;
}




.form_wrapper  #signup label 
{
  width :100%;
  padding :10px ;
}

.form_wrapper  #signup label p 
{
  text-transform: capitalize ;
  padding :5px ;
  font-size :.7em ;
}

.form_wrapper  #signup label input 
{
  display: inline-block ;
  width :100%;
  padding :10px ;
  border-radius :5px ;
  border :1px solid rgba(183,185,190);
}

.form_wrapper #signup button 
{
    display: block ;
    outline :none ;
    border :1px solid rgba(183,185,190);
    padding :15px 20px;
    margin : 10px auto 0 ;
    font-size :.7em ;
    border-radius :5px ;
    box-shadow :0 0 7px rgba(183,185,190,.2);
    background-color:#252525;
    color: #FFFFFF; 
    width: 100%;
}